@model IEnumerable<Authentication.Models.RolesViewModels.RoleViewModel>
@{
    ViewData["Title"] = "Index";
}

<br />
<p>
    <a asp-action="Create">Create New</a>

</p>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                </td>
            </tr>

        }
    </tbody>
</table>